<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AbimToolsMine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AbimTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AbimToolsMine.Properties.Settings>
            <setting name="LinkPrefix" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="RevitServer_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="RoomNumberParam" serializeAs="String">
                <value>Номер</value>
            </setting>
            <setting name="RoomGroupParam" serializeAs="String">
                <value>ПРО_ОП_Номер помещения.Гр</value>
            </setting>
            <setting name="RoomKeyParam" serializeAs="String">
                <value>ПРО_Номер помещения</value>
            </setting>
            <setting name="StructureColWidthMM" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Divide" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WallNameParam" serializeAs="String">
                <value>ПРО_ОП_Стены</value>
            </setting>
            <setting name="WallValueParam" serializeAs="String">
                <value>ПРО_ОП_Стены.Значение</value>
            </setting>
            <setting name="WallGroupParam" serializeAs="String">
                <value>ПРО_ОП_Стены.Значение.Гр</value>
            </setting>
            <setting name="FloorNameParam" serializeAs="String">
                <value>ПРО_ОП_Полы</value>
            </setting>
            <setting name="FloorValueParam" serializeAs="String">
                <value>ПРО_ОП_Полы.Значение</value>
            </setting>
            <setting name="FloorGroupParam" serializeAs="String">
                <value>ПРО_ОП_Полы.Значение.Гр</value>
            </setting>
            <setting name="CeilingNameParam" serializeAs="String">
                <value>ПРО_ОП_Потолки</value>
            </setting>
            <setting name="CeilingValueParam" serializeAs="String">
                <value>ПРО_ОП_Потолки.Значение</value>
            </setting>
            <setting name="CeilingGroupParam" serializeAs="String">
                <value>ПРО_ОП_Потолки.Значение.Гр</value>
            </setting>
            <setting name="PlinthNameParam" serializeAs="String">
                <value>ПРО_ОП_Плинтус</value>
            </setting>
            <setting name="PlinthValueParam" serializeAs="String">
                <value>ПРО_ОП_Плинтус.Значение</value>
            </setting>
            <setting name="PlinthGroupParam" serializeAs="String">
                <value>ПРО_ОП_Плинтус.Значение.Гр</value>
            </setting>
            <setting name="PlinthString" serializeAs="String">
                <value>ВО_Плинтус</value>
            </setting>
            <setting name="StructureComp" serializeAs="String">
                <value>ПРО_Состав конструкции</value>
            </setting>
            <setting name="DimType" serializeAs="String">
                <value>ПРО_Тип измерения</value>
            </setting>
            <setting name="FloorStructureComp" serializeAs="String">
                <value>ПРО_Состав конструкции</value>
            </setting>
            <setting name="FloorRoomKeyParam" serializeAs="String">
                <value>ПРО_Номер помещения</value>
            </setting>
            <setting name="FloorRoomGroupParam" serializeAs="String">
                <value>ПРО_ОП_Номер помещения.Гр</value>
            </setting>
            <setting name="FloorLayerName" serializeAs="String">
                <value>ПРО_СЛЖ_Слой пола</value>
            </setting>
            <setting name="viewTemplateName" serializeAs="String">
                <value>ПРО_СЛЖ_Эскиз пола</value>
            </setting>
        </AbimToolsMine.Properties.Settings>
        <AbimTools.Properties.Settings>
            <setting name="LinkPrefix" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="RevitServer_ip" serializeAs="String">
                <value />
            </setting>
        </AbimTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
